<div style="display: flex; justify-content: center">
  <div style="margin: 2em">
    <div style="display: flex; margin-bottom: 2em; justify-content: center;">
      <h1>Todo List</h1>
      <div style="display: flex; align-items: center">
        <button (click)="fetchData()" style="margin-left: 2em">Fetch data</button>
      </div>
    </div>
    <div style="display: flex;">
      <div style="margin: 3em;">
        <input #taskInput type="text" placeholder="Add new task">
        <button style="margin-left: 1em" (click)="addTask(taskInput.value); taskInput.value=''">Add</button>
      </div>
      <div style="margin: 3em">
        <h2 style="margin-bottom: 1em">Tasks</h2>
        <app-task-item [taskText]="task" (taskDeleted)="deleteTask($event)" *ngFor="let task of tasks"></app-task-item>
      </div>
    </div>
  </div>
</div>